<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        ul.list-group li button {flost:right;margin-left: 20px;}
    </style>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
<!--        <img alt="Brand" src="...">-->
          导航条
      </a>
    </div>
  </div>
</nav>
<div class="container">
    <div class="row" style="margin-bottom: 15px">
            <div class="col-lg-6">
              <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
    </div>
</div>
    <div class="container">
        <div class="row">
            <div class="md-6">
                <div class="panel-body">
                    <div class="panel-heading">待办事项</div>
                    <div class="panel panel-warning">
                            <ul class="list-group">
                                {% for todo in todofalse%}
                                  <li class="list-group-item">
                                      {{ todo.title }}
                                        <button type="button" class="btn btn-primary btn-xs">待处理</button>
                                        <button type="button" class="btn btn-danger btn-xs">删除</button>
                                  </li>
                                {% endfor %}
<!--                                <li class="list-group-item">-->
<!--                                        <button type="button" class="btn btn-primary btn-xs">待处理</button>-->
<!--                                        <button type="button" class="btn btn-danger btn-xs">删除</button>-->
<!--                                  </li><li class="list-group-item">-->
<!--                                        <button type="button" class="btn btn-primary btn-xs">待处理</button>-->
<!--                                        <button type="button" class="btn btn-danger btn-xs">删除</button>-->
<!--                                  </li><li class="list-group-item">-->
<!--                                        <button type="button" class="btn btn-primary btn-xs">待处理</button>-->
<!--                                        <button type="button" class="btn btn-danger btn-xs">删除</button>-->
<!--                                  </li><li class="list-group-item">-->
<!--                                        <button type="button" class="btn btn-primary btn-xs">待处理</button>-->
<!--                                        <button type="button" class="btn btn-danger btn-xs">删除</button>-->
<!--                                  </li>-->
                            </ul>
                    </div>
                </div>

            </div>

        <div class="md-6">


                <div class="panel-body">
                    <div class="panel-heading">已处理事项</div>
                    <div class="panel panel-success">
                            <ul class="list-group">
                                  <li class="list-group-item">
                                        <button type="button" class="btn btn-success btn-xs">已处理</button>
                                        <button type="button" class="btn btn-danger btn-xs">删除</button>
                                  </li>
                                  <li class="list-group-item">
                                        <button type="button" class="btn btn-success btn-xs">已处理</button>
                                        <button type="button" class="btn btn-danger btn-xs">删除</button>
                                  </li><li class="list-group-item">
                                        <button type="button" class="btn btn-success btn-xs">已处理</button>
                                        <button type="button" class="btn btn-danger btn-xs">删除</button>
                                  </li><li class="list-group-item">
                                        <button type="button" class="btn btn-success btn-xs">已处理</button>
                                        <button type="button" class="btn btn-danger btn-xs">删除</button>
                                  </li><li class="list-group-item">
                                        <button type="button" class="btn btn-success btn-xs">已处理</button>
                                        <button type="button" class="btn btn-danger btn-xs">删除</button>
                                  </li>
                            </ul>
                    </div>
                </div>
        </div>
    </div>
</div>

</body>
</html>